<div th:fragment="bl-1">
    <div class="card mb-3" style="background-image: url('/img/flag.jpg')" >
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Узбекистан</h5>
                    <p class="card-text">Страна с самым большим населением в Центральной Азии.</p>
                    <p class="card-text">В 2023 признана самой безопасной страной мира </p>
                    <div class="box col-lg-4 col-sm-6" >Узбекистан занимает:
                        <br> 4-ое место в мире по запасам ЗОЛОТА
                        <br> 7-ое место в мире по запасам УРАНА,
                        <br> 14-ое место в мире по запасам ГАЗА
                        <br> 6-ое место в мире по производству ХЛОПКА
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/img/home/nature/tulpan.jpg" class="img-fluid rounded-start " alt="...">
            </div>
        </div>


        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/home/chess2.webp" class="img-fluid rounded-start " alt="..." >
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Самые древние в мире шахматы</h5>
                    <p class="card-text">Родина шахмат - самые древние шахматы на планете обнаружены на территории современного Узбекистана</p>
                    <div class="box col-lg-4 col-sm-6" >При раскопках руин древней части города - Афросиаб (в Самарканде)
                        были обнаружены самые древние в мире шахматы. Набор состоял из семи выточенных из слоновой кости
                        миниатюрных шахматных фигурок и составил самую полную в мире коллекцию среди подобных ранних
                        собраний: шах (король), колесница, воин на коне, всадник на слоне и всадник с львиной маской на
                        лице и львиной мордой коня, пехотинцы.
                    </div>
                </div>
            </div>
        </div>



        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ташкент - родина Телевидения</h5>
                    <div class="box col-lg-4 col-sm-6" ><br><br>
                        Здесь создали первый работающий прообраз электронного телевизорf <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/img/home/tv2.jpg" class="img-fluid rounded-start " alt="...">
            </div>
        </div>


        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/home/tashkent/t_hilton.jpeg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Ташкент - столица Узбекистана</h5>
                    <p class="card-text">город хлебный</p>
                    <div class="box col-lg-4 col-sm-6" >
                        <br><br>Один из самых быстроразвивающихся городов мира. По населению занимает 3-ое место в СНГ
                        после Москвы и Санкт-Петербурга.<br><br><br>
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Самый древний в мире Коран</h5>
                    <p>1 из 6 Коранов самого халифа Османа</p>
                    <div class="box col-lg-4 col-sm-6" >
                        <h6>Одной из самых известных достопримечательностей Ташкента является комплекс «Хазрати Имам»,
                            потому что там хранится самый древний оригинал Корана.Эта священная книга является
                            первоисточником священной книги в переплете, написанной на шкуре оленя в середине VII века.
                            Всего таких Коранов было написано шесть, но до наших дней дошли лишь четыре экземпляра, и лучше
                            всего сохранившийся экземпляр находится в Узбекистане. В различные периоды недобросовестные
                            хранители продали некоторые страницы из Корана коллекционерам. В Лондоне, Турции и Каире
                            находятся отдельные страницы упомянутых четырех Коранов.По преданию, именно этот Коран читал Осман,
                            когда мятежники пришли его убивать, и на страницах книги остались пятна крови праведного халифа.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/img/home/koran.jpeg" class="img-fluid rounded-start " alt="...">
            </div>
        </div>
    </div>
</div>
