<div th:fragment="bl-2">
    <div style="background-image: url('/img/flag.jpg')">

        <div class="container-fluid my-carousel">
            <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/home/tashkent/t_xastimom.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Комплексс Хазрати Имом</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_kukeldash.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Медрессе Кукельдаш</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_televishka_nav.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Парк</p>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <img src="/img/home/tashkent/t_mechet.jfif" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Белая мечеть</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_romanov.jfif" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Uzbekistan</h5>
                            <p>Дворец князя Романова</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_metro.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Ташкентское метро</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_skver.webp" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Сквер Амира Темура</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_drujba.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Площадь Дружбы Народов</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_sirk.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Площадь Хадра</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid my-carousel">
            <div  class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/home/tashkent/t_hilton.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Hilton</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_nestOne.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Nest One</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/img/home/tashkent/t_skver_sverxu.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Ташкент</h5>
                            <p>Сквер Амира Темура</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>