<div th:fragment="bl-5">
    <div style="background-image: url('/img/flag.jpg')">
        <div class="container">
            <div class="row">
                <div class="md-8">
                    <div><h3 style="color: white;font-weight: bold;text-align: center">Узбекистан с дрона</h3></div>
                    <div class="vid" >
                        <video width="100%" height="auto" controls><source src="/video/uzbekistan.mp4" type="video/mp4"></video></div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Природа Узбекистана</h5>

                    <div class="box col-lg-4 col-sm-6" >
                        Природа Узбекистана один из самых прекрасных и красивых в мире. Здесь вы найдете все 4 времена
                        года со всеми их красотами. Здесь вы найдете любую красоту природы которую хотите увидеть.
                        Здесь есть все: горы и водопады, горнолыжные курорты, озера любого оттенка, горные реки и леса,
                        пикничные зоны и сады, фьорды и ущелья, каньоны и пещеры - универсальная природа где собрано
                        все.И идеально внедренные развлечения разных типов вокруг них - паропланы, воздушные шары,
                        канатки и смотровые площадки, рафтинг, роупджампинг, зиплпайн, скалолазание, снегоходы, кони и тд..
                    </div>
                    <div class="box col-lg-4 col-sm-6" >
                        Одним из самых прекрасных маршрутов для любителей лесов, является - заповедник Зомин.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <video width="auto" height="500px" style="margin-left: 20px" class="video-fluid"  controls><source src="/video/zomin.mp4" type="video/mp4"></video>
            </div>
        </div>
        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/amirsoy/uz-amir1.jpeg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Амирсой</a></h4>
                                <p >Для любителей горнолыжного туризма отличным вариантом станет курорт - Амирсой</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/amirsoy/uz-amir2.jpg" alt=""></a>
                            </div>
                            <div class="product-details">

                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/amirsoy/uz-amir3.webp" alt=""></a>
                            </div>
                            <div class="product-details">

                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/uz-chor1.webp" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Чарвак</a></h4>
                                <p>Для любителей поплавать есть курорты вокруг водохранилища Чарвак</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/uz-chor2_par.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Чарвак</a></h4>
                                <p>Одним из популярных развлечений в Чарваке являются - Паропланы</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/ugam/scale_1200.jfif" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Угам - рафтинг</a></h4>
                                <p>Для любителей горных рек,недалеко от Чавака есть горная река Угам, где можно  заняться - рафтингом </p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/nefrit/uz-nefrit1.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Нефриртовое озеро</a></h4>
                                <p>А если хотите экзотики,чуть выше от Чарвака есть озеро Урунгач - Нефритовое озеро с прозрачной водой</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/nefrit/uz-nefrit2.webp" alt=""></a>
                            </div>
                            <div class="product-details">

                                <div class="product-bottom-details d-flex justify-content-between">
                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/chorvoq/oqtosh/uz-oqt.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Октош</a></h4>
                                <p>Кстати еще, около этих мест есть гора Октош, известная лечебными свойствами</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                           <div class="product-card">
                               <div class="product-thumb">
                                  <a href="#"><img src="/img/home/nature/bostonliq/parkent/uz-parkent2-tulpan.png" alt=""></a>
                               </div>
                               <div class="product-details">
                                   <h4><a href="#">Маковые поля</a></h4>
                                   <p>Паркентские горы каждый весной укрываются красным одеялом из горных маков, вызывающий уйму восхищений и восторгов</p>
                                   <div class="product-bottom-details d-flex justify-content-between">

                                      <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                      </div>
                                   </div>
                               </div>
                           </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                            <div class="product-card">
                                <div class="product-thumb">
                                    <a href="#"><img src="/img/home/nature/bostonliq/parkent/uz-parkent4-vozdush.jpg" alt=""></a>
                                </div>
                                <div class="product-details">
                                    <h4><a href="#">Паркентские горы</a></h4>
                                    <p> Кстати там еще можно полетать на воздущных шарах</p>
                                    <div class="product-bottom-details d-flex justify-content-between">

                                        <div class="product-links">

                                            <a href="#"><i class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/parkent/uz-parkent3.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Паркентские горы</a></h4>
                                <p>Паркентские горы лучшая локация для любителей зеленой природы, где можно делать пикник и запускать воздушных змей вместе семьей</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                              <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/bostonliq/parkent/uz-parkent1-soln.png" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4 ><a href="#">Солнечная печь</a></h4>
                                <p>В паркентских горах еще расположен уникальный обьект- Солнечная печь - таких только два в мире</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </section>




        <section class="main-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/boysun/uz-boysun1-pesh1.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Самая глубокая пещера</a></h4>
                                <p>Природа Байсунтау не менее удивительна,здесь раположена пещера-Бой Булок-Самая глубоокая пещера в Азии и 8-ая в мире</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/boysun/uz-boysun3-vodapad.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Водопад Сангардак</a></h4>
                                <p>Еще в Байсунтау расположена одна из самых красивых водопадов Узбекистана</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>












        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/home/nature/uz-priroda.jpg" class="img-fluid rounded-start " alt="..." >
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Природа Узбекистана очень разнообразна</h5>

                    <div class="box col-lg-4 col-sm-6" >
                        Ее красота отражается во всем и наполняет красотой все себя окружающее.
                        Например ее красота стала причиной создания национальной ткани -Атласа.
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Легенда о хан атласе</h5>
                    <p class="card-text">Атлас - Адрас -Икат </p>
                    <div class="box col-lg-4 col-sm-6" >Старинная легенда о хан-атласе гласит: «В незапамятные времена
                        один из правителей Маргилана решил жениться в пятый раз. Его выбор пал на юную дочь одного
                        бедного ткача. Расстроившись, отец девушки бросился в ноги старому хану, моля его отступиться
                        от девушки. Хан ответил, что исполнит просьбу бедняка, если он к следующему утру создаст нечто
                        такое необыкновенное, что заставит хана забыть о красоте девушки. Опечаленный ткач сидел на
                        берегу арыка, не зная, что ему дальше делать. И вдруг - увидел в воде отражение облаков,
                        окрашенных, после прошедшего дождя, во все цвета радуги. «О, небо, благодарю тебя за идею!»,
                        - воскликнул он и побежал домой, чтобы немедленно приняться за работу.

                        Наутро он соткал необычайную ткань по образу увиденного – легкую и воздушную словно облако,
                        прохладную, как чистый горный воздух, и переливающуюся всеми цветами радуги. Когда мастер
                        принес эту необыкновенную ткань хану, тот был потрясен ее волшебной красотой «Как ты это
                        сделал?» – спросил он у ткача. На что ткач ответил: «Я взял зелень листвы, омытой дождем,
                        добавил цвет лепестков тюльпанов, румянец зари, синь ночного неба, блики солнца на
                        быстротекущей воде арыка, блеск глаз моей любимой дочки и все смешал». Необыкновенную ткань
                        назвали «хан-атлас» («ханский шелк»), а дочку ткача хан отдал в жены своему любимому сыну
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/img/home/nature/atlas.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
        </div>



        <div class="row g-0">

            <div class="col-md-4">
                <img src="/img/home/ikat/ikat1.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-4">
                <img src="/img/home/ikat/ikat4.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-4">
                <img src="/img/home/ikat/ikat3.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-4">
                <img src="/img/home/ikat/ikat2.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-4">
                <img src="/img/home/ikat/ikat5.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
            <div class="col-md-4">
                <img src="/img/home/ikat/ikat6.jpg" class="img-fluid rounded-start " alt="..." >
            </div>
        </div>


        <section class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/tulpan.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Тюльпаны - Факт</a></h4>
                                <p>Все тюльпаны в мире родом из Cредней Азии</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">

                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/ferganskie_koni.jpeg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Ферганские коны</a></h4>
                                <p>В свое время одним из самых желанным товаров в Щелковом пути были Ферганские кони -
                                    легендарные кони с небывалой красотой и силой.</p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="#"><img src="/img/home/nature/posox.jpg" alt=""></a>
                            </div>
                            <div class="product-details">
                                <h4><a href="#">Посох Мусы</a></h4>
                                <p>По легенде посох пророка Мусы спрятан в песках Бухара, чтобы никто его никогда не нашел </p>
                                <div class="product-bottom-details d-flex justify-content-between">

                                    <div class="product-links">
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid my-carousel">
            <div  class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>


                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/home/nature/carusel_nature_uzb/orel.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Узбекистан</h5>
                            <p>Орел</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/img/home/nature/carusel_nature_uzb/sirenn.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Узбекистан</h5>
                            <p>Сирень</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/img/home/nature/carusel_nature_uzb/bars.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Узбекситан,Китаб</h5>
                            <p>Снежный барс</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>